### CLion+iml template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
CMakeLists.txt
cmake-build-debug
questaoe2.exe
questao3.exe
questao2.exe
questao1.exe
pesquisaBinaria.exe
lista_simplesmente_encadeada.exe
lista_duplamente_encadeada.exe
fila_estrutura_fila.exe
pilha_estrutura_pilha.exe
lista_circular.exe
fila.exe
pilha.exe
insertionPosition.exe
exercicio_proposto.exe
removePosition.exe
# AWS User-specific
.idea/**/aws.xml
# CMake
cmake-build-*/
out/
.idea_modules/
.idea/sonarlint/
.idea/**/shelf
.idea/**/dataSources/
.idea/sonarlint/
.idea_modules/
.idea
*.iml
out
gen
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/shelf


